:root {
    --dark-blue-design: #011632;
    --light-blue-design: #e6f6fe;
    --mid-blue-design: #1376f8;
    --success: #17bf28;
    --secondary-color: #FFFFFF;
    --sky-blue-design: #25b4f8;
    --body-text: #3c4959;
    --stars-color: #EC942C;
}
@media(max-width: 430px) {
    .containers {
        display: block;
    }
    .header-top nav ul{
        display: none;
    }
    .header-button button .burger-icon{
        display: block;
    }
    .header-button button{
        font-size:0px;
        padding: 8px;
    }
    .header-top{
        width: 100vw;
        margin-left: calc(-50vw + 50%); /* Вирівнює по центру */
        padding: 10px; /* Падінги залишаються */
        box-sizing: border-box;
        background-color: transparent;
    }
    .containers{
        max-width: 100%;
        margin:0;
    }
    .greetings{
        max-width: 100%;
        height: auto;
    }
    .info{
        max-width: 100%;
        margin-bottom:20px;
    }
    .greetings h1{
        font-family: 'GeneralSans-Semibold';
        font-weight: 600;
        line-height: 1.2;
        font-size:42px;
    }
    .normal-line{
        display: none;
    }
    .normal-button{
        display: none;
    }
    .adaptive-button{
        display:block;
        padding: 15px 30px;
    }
    .emergency_info span{
        font-family: 'GeneralSans-Semibold';
        letter-spacing: 0.02em;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 600;
    }
    .adaptive-line{
        position: absolute;
        display: block;
        margin-top:-10px;
        z-index: -1;
    }
    .profile-box{
        max-width: 100%;
    }
    .appointment-buttons{
        max-width: 100%;
        height: auto;
    }
    .image-container{
        max-width: 100%;
        margin-top:40px;
        
    }
    .image-container img{
        width: 100%;
        height: auto;
    }
    #doc{
        bottom:0;
    }
    .invite{
        padding:0;
        max-width: 100%;
    }
    .invite h2{
        font-family: 'GeneralSans-Semibold';
        font-size:36px;
        font-weight: 600;
        line-height: 1.2;
    }
    .invite-box{
        display: flex;
        flex-direction: column;
    }
    .second-image{
        max-width: 100%;
        background:transparent;
        margin-top:30px;
    }
    .second-image img{
        width: 100%;
        position: static;
        height: auto;
    }
    .submit-box{
        max-width: 100%;
    }
    .card-info{
        max-width: 100%;
    }
    .slider img{
        max-width: 100%;
    }
    .invite{
        padding:0;
        max-width: 100%;
    }
    .advantages-box{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .third-image{
        max-width: 100%;
        margin-top:30px;
        margin-bottom: 80px;
    }
    .advantages{
        background-color: var(--light-blue-design);
    }
    .third-image img{
        width: 100%;
        position: static;
        height: auto;
    }
    .advantage-info{
        max-width: 100%;
    }
    .advantages-info-box{
        margin-top:80px;
    }
    h2{
        font-size:36px;
        font-weight: 600;
        line-height: 1.2;
        font-family: 'GeneralSans-Semibold';
        text-transform: capitalize;

    }
    #center-h{
        font-size:36px;
        font-weight: 600;
        line-height: 1.2;
        font-family: 'GeneralSans-Semibold';
        margin:0;
        text-align: start;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    #center-p{
        margin:0;
        text-align: start;
    }

    .video iframe{
        max-width: 100%;
        border-radius: 10px;
    }
    .box{
        display: block;
    }
    .left-box{
        max-width: 100%;
    }

    .services{
        background-color: var(--light-blue-design);
    }
    .services-box{
        padding-top:20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .services-item{
        max-width: 100%;
    }
    .container{
        max-width: 100%;
        margin:0;
    }
    #elipse{
        display: none;
    }
    .article-box{
        display: block;

    }

    .article-list{
        display: flex;
        flex-direction: column;
    }
    .article-list .article-item{
        max-width: 100%;
        height: auto;
    }
    .article-item img{
        width: 100%;
    }
    .promo-block{
        display: block;
        max-width: 100%;
        padding:0;
        padding-top:50px;
    }
    .promo-image{
        display: flex;
        justify-content: center;
    }
    .promo-image img{
        width:100%;
    }
    .promo-content{
        max-width: 100%;
    }
    .promo-content button{
        margin-bottom: 30px;
    }
    .promo-content h2{
        font-size:36px;
        font-weight: 600;
    }
    .slider{
        overflow: hidden;
        max-width: 100%;
    }
    .slider img{
        width: 100%;
    }
    .last-block{
        background-color: var(--dark-blue-design);
    }
    .slider-box{
        display: block;
    }
    .slider-buttons{
        margin-top:0;
    }
    #center-p-b2{
        text-align: start;
        margin:0;
    }
    .article-but{
        display: none;
    }
    .nav-footer{
        display: none;
    }
    .social-icons{
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .social-icons-box{
        width: 100%;
        gap:30px;
    }
    .burger-but{
        display:block;
        background-color: transparent;
    }
    .footer-box{
        align-items: center;
    }
}