@media (max-width: 1320px) {
    .greetings h1{
        font-size: 56px;
    }
    .greetings .normal-line{
        margin-left:70px;
    }
  }
  @media (max-width: 1200px) {
    #doc{
        width: 550px;
        height: auto;
        top:100px;
    }
    .video{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
    .promo-block{
        width: 90%;
        justify-content: center;
    }
    .promo-content{

        width: 100%;
    }
  }