.swiper{
    height: 300px;
}
.slider-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}
.arrows{
    fill:currentColor;
}
.s-button-prev,
.s-button-next{
    display: flex;
    align-items: center;
    background-color: var(--dark-blue-design);
    border:2px solid var(--dark-blue-design);
    font-weight: 550;
    color:#fff;
    padding: 10px 25px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.s-button-prev:hover,
.s-button-next:hover{
    background-color: var(--secondary-color);
    color:var(--dark-blue-design);
    transform: scale(1.03);
}

.slider-box{
    margin-top:30px;
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.card-list .card-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Внутрішні відступи для всіх елементів */
    border-radius: 8px; /* Задаємо заокруглення для кращого вигляду */
    background-color: #FFF;
    box-sizing: border-box; /* Враховує padding у загальній ширині */
}
.card-list li{
    list-style: none;
}
.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background-color: #FFF;
    text-decoration: none;
}
.profile{
    display: flex;
    justify-content: left;
    gap:10px;
    margin-bottom:10px;
}
h3{
    color: var(--dark-blue-design);
}
.stars{
    color:var(--stars-color);
}
.card-item p{
    color:var(--body-text);
    font-family: 'GeneralSans-Regular';
    font-style: normal;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 0.015em;
    line-height: 1.5;
}
.slider-container{
    align-items: center;
}