.swiper-team{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
.slider-buttons-team{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.arrows{
    fill:currentColor;
}
.s-button-prev-team,
.s-button-next-team{
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border:2px solid var(--secondary-color);
    font-weight: 550;
    color:var(--dark-blue-design);
    padding: 10px 25px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top:30px;
}
.s-button-prev-team:hover,
.s-button-next-team:hover{
    background-color: var(--secondary-color);
    border:2px solid var(--dark-blue-design);
    transform: scale(1.03);
}

.slider-box-team{
    margin-top:30px;
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.card-list-team li{
    list-style: none;
    display: flex;
    justify-content: center;
}
.card-list-team .card-item-team .member-box {
    user-select: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: relative;
}
.doctor-img{
    border-radius: 10px;

}
.overlay-image{
    width: 40px;
    height: 40px;
    position: absolute;
    top:8px;
    right: 10px;
}
.overlay-info{
    position: absolute;
    top:230px;
    background: linear-gradient(90deg, #d1e9f7 0%, #a3c8d6 100%);
    width: 100%;
    padding:20px;
    border-radius: 10px;
    width: 92%;
    display: block;
    margin-right: auto;
}
.overlay-info h4{
    font-family: 'GeneralSans-Medium';
    font-size:24px;
    font-weight: 500;
    line-height: 1.2;
    color:#FFFFFF;
}
.overlay-info p{
    font-family: 'GeneralSans-Medium';
    font-size:16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.015em;
    color:#FFFFFF;
}