.slider{
    width: 305px;
    height: 340px;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
}

.slider-line{
    position: relative;
    display: flex;
    gap:15px;
}
.slider img{
    width: 100%;
    border-radius: 10px;
}
    
.prev-button,
.next-button{
    cursor: pointer;
    padding: 0px 25px;
    background-color: white;
    color:black;
    font-size: 18px;

}
.slider-button{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top:35px;
}